.order-sum-card {
  width: 400px;
  border: 1px solid #000;
}

.order-sum-header {
  font-weight: bold;
  color: #202e49;
  font-size: 1.6rem;
  text-align: center;
}

.order-short-quote {
  color: #878ca5;
  text-align: center;
}

.plan-button {
  background-color: #f8f9fe;
  border: none;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.annual-plan {
  color: #262f49;
  font-weight: bold;
}

.dollar-per-year {
  color: #70768e;
  font-weight: bold;
}

.change-btn {
  color: #473abe;
  font-weight: bold;
  text-decoration: underline;
}

.ver-hor-center {
  align-self: center;
}
